<!-- Student name: Chantelle Lawson
Student number: 301216199
Assignment Due Date: October 22nd 2022
Filename: add_edit.ejs -->


<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= user._id %>"
                    >
                    <label for="FirstNameTextField">First Name</label>
                    <input type="text" class="form-control"
                        id="FirstNameTextField"
                        placeholder="Enter the First Name"
                        name="firstName" 
                        value="<%= user.firstName %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="LastNameTextField">Last Name</label>
                    <input type="text" class="form-control"
                    id="LastNameTextField"
                    placeholder="Enter the Last Name"
                    name="lastName" 
                    value="<%= user.lastName %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="PhoneNumberTextField">Phone Number</label>
                    <input type="tel" class="form-control"
                    id="PhoneNumberTextField"
                    placeholder="Enter the phone number"
                    name="phone" 
                    value="<%= user.phone %>"
                    required>
                </div>
            </br>
            <div class="form-group">
                <label for="EmailTextField">Email</label>
                <input type="text" class="form-control"
                id="EmailTextField"
                placeholder="Enter the email address"
                name="email" 
                value="<%= user.email %>"
                required>
            </div>
        </br>
        <div class="form-group">
                    <label for="UsernameTextField">Username</label>
                    <input type="text" class="form-control"
                    id="UsernameTextField"
                    placeholder="Enter the Username"
                    name="username"
                    value="<%= user.username %>"
                    required>
                </div>
                <br/>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/business/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>